:root {
  --text: #30303a;
  --border: #303030;
  --background: #f9f9f9;
  --blank-grey: #e9e9e9;
  --purple: #c87ae2;
  --purple-bg: #f3e6f7;
  --purple-bt: #d39ee5;
  --red: lightpink;
  --pink: #fcdee2;
  --grey: lightgrey;
  --lime: #c4efc4;
  --green: lightgreen;
}

.dark-mode {
  --text: #aaaaaa;
  --border: #555555;
  --background: #151515;
  --blank-grey: #303030;
  --purple: #581a72;
  --purple-bg: #a366a7;
  --purple-bt: #833e95;
  --red: darkred;
  --pink: #8c3e32;
  --grey: #323232;
  --lime: #507f54;
  --green: green;
}

body {
  color: var(--text);
  background-color: var(--background);
  padding: 10px;
  font-family: monospace, sans-serif;
}

header {
  text-align: center;
}

#controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex-basis: fill;
  padding: 0;
  font-family: sans-serif;
}

#controller div {
  flex-grow: 1;
  border: none;
}

#controller input {
  font-size: 1.5rem;
  padding: 20px 10px;
  flex-grow: 3;
  text-align: center;
  background-color: var(--purple-bg);
  border: solid 3px var(--border);

}
#controller input::placeholder {
  color: var(--purple);
}

#controller button {
  flex-grow: 1;
  font-size: 1.3rem;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: var(--purple-bt);
  border: solid 3px var(--border);
}

h1 {
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3em;
}

h1 span {
  font-size: 0.5em;
  color: #ff0101;
  letter-spacing: normal;
}

footer {
  margin: 10px;
  padding: 10px;
}

.card {
  padding: 20px;
  background-color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-top: 3px solid var(--border);
  border-bottom: 3px solid var(--border);
  word-wrap: normal;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .col {
  border: solid 5px var(--border);
  min-width: 18%;
  min-height: 32%;
  flex-grow: 1;
  background-color: var(--blank-grey);
  text-align: center;
}

.container .col h3 {
  font-size: 1.6rem;
  border-bottom: 6px solid var(--border);
  padding: 10px;
  padding-top: 0;
}

.container #rdw > .card {
  background-color: var(--red);
}

.container #dw > .card {
  background-color: var(--pink);
}

.container #n > .card {
  background-color: var(--grey);
}

.container #w > .card {
  background-color: var(--lime);
}

.container #rw > .card {
  background-color: var(--green);
}

.horz-scroll {
  overflow-x: scroll;
  overflow-y:hidden;
  min-width: 50%;
  white-space: nowrap;
  border: 3px solid var(--border);
  padding: 10px;
  margin: 20px;
}

.sidebyside {
  display: flex;
  float: left;
  max-width: 100%
}

.sidebyside p {
  padding-top: 20px;
  min-width: fit-content;
}
